@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    text-rendering: optimizeLegibility;
    font-weight: light;
}

a {
    transition: color .3s;
}

/* Form control override */
.form-control {
    border-radius: 0px;
    outline: none;
    box-shadow: none;
    
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-y-auto {
    overflow-y: auto;
}

/* Cards columns customized */

.card-columns {
    column-gap: .2rem;

    .card {
        border: 0px;
        margin-bottom: .2rem;
    }

    @include media-breakpoint-only(xl) {
        column-count: 5;
    }

    @include media-breakpoint-only(lg) {
        column-count: 4;
    }
    
    @include media-breakpoint-only(md) {
        column-count: 3;
    }
    
    @include media-breakpoint-only(sm) {
        column-count: 2;
    }

    @include media-breakpoint-only(xs) {
        column-count: 1;
    }
}


