@import 'variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';


// Header
header.page-header {
    height: 100vh;
    background: url('../images/header-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    h1 {
        font-size: 4rem;
        letter-spacing: .3rem;
    }

    h3 {
        animation: typing 5s steps(70, end), blink-caret 1s step-end 4;
        border-right: .15rem solid transparent;
        margin: 0 auto;
        overflow: hidden;
        white-space: nowrap;
        max-width: min-content;
    }
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: $primary
    }

    50% {
        border-color: transparent;
    }
}

#navbar-custom {
    transition: .3s;

    &.affix {
        background-color: $white;
        box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);

        .nav-link,
        .navbar-toggler {
            color: $body-color;
        }
    }

    .nav-link {
        color: $white;

        &.active,
        &:hover {
            color: $primary;
        }
    }

    .navbar-logo {
        height: 65px;

        @include media-breakpoint-down(md) {
            height: 45px;
        }
    }

    .navbar-toggler {
        color: $white;

        &:focus,
        &:active {
            outline: none;
            box-shadow: none;
        }
    }
}

.page-section {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

hr.divider {
    border-width: 0.2rem;
    max-width: 3.5rem;
}

// Réalisations
.post {
    position: relative;

    &:hover .overlay {
        opacity: 1;
    }

    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: all .25s ease-in-out;
        padding: 1rem;
        background-color: rgba(#000000, .5);
    }

    .description {
        max-height: 100%;
        overflow: hidden;
    }
}

// Instagram feed
.instagram-join {
    text-align: center;
    
    .instagram-logo {
        width: 50px;
    }

    .instagram-logo,
    .instagram-join-title{
        display: inline-block;
        vertical-align: middle;
    }
}

.instagram-profile {
    .avatar {
        width: 60px;
    }

    .username {
        color: $body-color;

        &:hover {
            color: $primary;
        }
    }
}

.instagram-post {
    transition: all .3s;

    &:hover {
        text-decoration: none;
        background-color: $light;

        .content {
            color: $primary;
        }
    }

    .image {
        height: 250px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

.owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0px 10px;
    color: $primary
}

.owl-prev, 
.owl-next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 40px !important;
    border-radius: 100%;
    background-color: #FFFFFF !important;
    transition: all .3s;

    &:hover {
        color: #FFFFFF !important;
        background-color: $primary !important;
    }
}

.owl-prev {
    float: left;
}

.owl-next{
    float: right;
}

// Footer
footer {
    box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);

    a {
        color: $body-color;

        &:hover {
            text-decoration: none;
        }
    }
}
